// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary: $blue-900 !default;
$brand-info: $grey-600 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $indigo-500 !default;
$brand-rose: $red-500 !default;
$brand-inverse: $grey-600 !default;